/* CUSTOM STYLE */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600);

	div.box_breaking_news div.breaking_news_ribbon,
	nav.main-navigation ul.nav li.current-menu-item,
	#witgetsearch button.btn,
	.post-pager .bx-pager.bx-default-pager a:hover,
	.post-pager .bx-pager.bx-default-pager a.active,
	.tagcloud a:hover,
	#timer,
	.btn-contact,
	#back-top a,
	article.post_list div.entry span.line:after,
	h2.ribbon-v3,
	.more-cate a,
	.slider3 .caption .cate,
	.woocommerce span.onsale, .woocommerce-page span.onsale,
	.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img,
	.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce #content nav.woocommerce-pagination ul li span.current,.woocommerce #content nav.woocommerce-pagination ul li a:hover,.woocommerce #content nav.woocommerce-pagination ul li a:focus,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li a:hover,.woocommerce-page nav.woocommerce-pagination ul li a:focus,.woocommerce-page #content nav.woocommerce-pagination ul li span.current,.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
	.woocommerce .quantity .plus,
	.woocommerce .quantity .minus,
	.woocommerce #content .quantity .plus,
	.woocommerce #content .quantity .minus,
	.woocommerce-page .quantity .plus,
	.woocommerce-page .quantity .minus,
	.woocommerce-page #content .quantity .plus,
	.woocommerce-page #content .quantity .minus,
	#bbp-search-form input.button,
	#bbpress-forums fieldset.bbp-form legend,
	.bbp-submit-wrapper button.submit ,
	.nav-tabs.news_tabs.diagonal,
	.page-template-template-home-3-php .sidebar h2.widget_title,
	div.review-item .progress .bar,.summary-score
		{ background:#ef00a7}
	.slider .pager-nav a,
	.slider .caption h3,
	.slider3 .pager-nav a,
	.mtc_image_slideshow a.carousel-control
		{ background:rgba(239,0,167,0.9)}
	#commentform p.form-submit input[type="submit"],
	.pagination ul > .disabled > span,
	.pagination ul > .disabled > a,
	.pagination ul > .disabled > a:hover,
	.pagination ul > .disabled > a:focus,
	.btn-success
		{ background-color:#ef00a7;}a,
	nav.main-navigation li:hover > a,
	nav.main-navigation ul ul :hover > a,
	.list_home_content p.author,
	.tab_list_content p.panel,
	.tab_list_content p.panel a,
	nav.footer-navigation li:hover > a,
	.list_post_content p.panel,
	.list_post_content p.panel a,
	.storycontent p.panel,
	.storycontent p.panel a ,
	.post_panel,
	h3#comments, h3#reply-title,
	.pagination ul > li > a:focus,
	.pagination ul > .active > a,
	.pagination ul > .active > span,
	ul.list-mini li p.author,
	div.list-more ul li:after,
	.large_vid p.author,
	ul.tabs li.active a,
	ul.tabs li a:hover,
	.clock,
	.rating-view span.star.active ~ span.star:before,
	.rating span.star:hover:before,
	.rating span.star:hover ~ span.star:before,
	.rating span.star.active ~ span.star:before,
	.list-v3-small h3 a:hover
		{color: #ef00a7}nav.main-navigation ul.nav ul li.current-menu-item a
		{color: #ef00a7!important}input[type="text"]:focus,
	input:focus:invalid:focus,
	textarea:focus:invalid:focus,
	select:focus:invalid:focus,
	._main_navigation,
	._footer,
	h2.ribbon-green,
	.nav-tabs.news_tabs,
	h2.widget_title,
	ul.tabs,
	#witgetsearch button.btn,
	.post-pager .bx-pager.bx-default-pager a:hover,
	.post-pager .bx-pager.bx-default-pager a.active,div.post-list h2.list-title,
	#dropmenu select:focus,
	#bbp-search-form input.button,
	.bbp-submit-wrapper button.submit 
		{border-color: #ef00a7 }#data-cart,
	nav.main-navigation > ul li > ul
	{border-top-color: #ef00a7 }
	.sidebar h2.widget_title
	{border-left-color: #ef00a7 }
	.pager-nav a:hover,
	#witgetsearch button.btn:hover,
	#commentform p.form-submit input[type="submit"]:hover,
	.btn-contact:hover,
	.btn-success:hover,
	#bbp-search-form input.button:hover,
	.bbp-submit-wrapper button.submit:hover,
	.woocommerce .woocommerce-ordering .orderby, .woocommerce-page .woocommerce-ordering .orderby,
	.woocommerce .quantity .plus:hover,.woocommerce .quantity .minus:hover,.woocommerce #content .quantity .plus:hover,.woocommerce #content .quantity .minus:hover,.woocommerce-page .quantity .plus:hover,.woocommerce-page .quantity .minus:hover,.woocommerce-page #content .quantity .plus:hover,.woocommerce-page #content .quantity .minus:hover
	{ background:#e000b3}
	#witgetsearch button.btn:hover
	{border-color: #e000b3!important }a:hover,
	.box-vid ul li .list_post_thumb a:hover,
	.list_post_content h2 a:hover,
	ul.list-mini li h3 a:hover,
	.list_post_content p.panel a:hover,
	.list_home_content h2 a:hover,
	div.list-more ul li a:hover,
	.tab_list_content h2 a:hover,
	article.post_list_mini h2 a:hover,
	article.post_list div.entry h2 a:hover,
	.content-vid-v3 h2:hover,
	.content-v1 h2 a:hover,
	.list_mini p a:hover
	{ color:#e000b3}
	.slider .pager-nav a:hover,
	.slider3 .pager-nav a:hover
		{ background:rgba(224,0,179,0.9)}._content{ background:#f6f7f9 }